#menu-container {
	margin-left:auto;
	margin-right:auto;
	width:1140px;
	height: 30px;
	padding-top:10px;
	padding-left:20px;
	padding-right:20px;
	text-align:left;
	background-color:#FFFFFF;
	margin-top:2px;
	-webkit-background-clip: border-box;
	-webkit-background-origin: padding-box;
	-webkit-background-size: auto;
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 2px 0px 1px -1px, rgba(0, 0, 0, 0.2) -2px 0px 1px -1px;
	color:#737373;
	font-family: 'Segoe UI', sans-serif;
	font-size: 15px;
	font-weight: 600;
}

.menu-cell {
	float:left;
	width:75px;
	text-align:center;
	color:#737373;
	font-family: 'Segoe UI', sans-serif;
	font-size: 15px;
	font-weight: 600;
}

.menu-cell a {
	text-decoration:none;
	color:inherit;
}

.menu-cell a:hover {
	text-decoration:underline;
}

#navbar {
	margin-left:auto;
	margin-right:auto;
    height: 25px;
    width: 375px;
	text-align:center;
	background-color:#f2f2f2;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	-webkit-background-clip: border-box;
	-webkit-background-origin: padding-box;
	-webkit-background-size: auto;
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 2px 0px;
}