#signin-wrapper {
	float:left;
	width:100%;
	text-align:center;
}

#signin-container {
	margin-left:auto;
	margin-right:auto;
	width:1140px;
	height:991px;
	padding-top:7px;
	padding-left:20px;
	padding-right:20px;
	text-align:left;
	background-color:#FFFFFF;
	margin-top:1px;
	-webkit-background-clip: border-box;
	-webkit-background-origin: padding-box;
	-webkit-background-size: auto;
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 2px 0px 1px -1px, rgba(0, 0, 0, 0.2) -2px 0px 1px -1px;
	font-size:18px;
	color:#737373;	
}

#signin-container h1 {
	width:1140px;
	margin-top:100px;
	text-align:center;
	font-family:"Cabin", sans-serif;
	font-weight:600;
	color:#505050;
}

#signin-form {
	margin-left:auto;
	margin-right:auto;
	margin-top:50px;
	width:375px;
	height:249px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background-color:#F2F2F2;
	color:#505050;
	padding:20px;
	font-family:"Segoe UI", sans-serif;
	text-align:center;
}

#signin-form input[type=submit] {
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
	width: 150px;
	height:30px;
	color: #fff;
	padding-bottom:2px;
	background-color:#800;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border:0px;
	font-size:16px;
	font-family:"Segoe UI", sans-serif;
}

#signin-form a {
	padding:10px;
	font-size:13px;
	color:#505050;
}

.label {
	float:left;
	width:350px;
	height:30px;
	padding:5px;
	text-align:left;
}

.field {
	float:left;
	width:366px;
	height:36px;
	border: solid 1px #c5c5c5;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	margin-bottom:10px;
	font-size:17px;
	font-weight:400;
	font-family:"Arial";
	text-align:left;
}

.message {
	margin-left:auto;
	margin-right:auto;
	width:1140px;
	font-family:"Segoe UI", sans-serif;
	text-align:center;
}