#streaming-container {
	float:left;
	width:250px;
	height:500px;
	margin-left:20px;
}

#streaming-container h3 {
	width:250px;
	background-image:url('../img/line.png');
	text-align:center;
}

#streaming-container h3 span {
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	width:100px;
	positions:absolute;
	background-color:#FFFFFF;
	display:block;
	font-family:"Segoe UI", sans-serif;
	font-weight:600;
	font-size:18px;
	color:#c80000;
}